.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
  background: var(--footer);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.wrapper > div {
  display: flex;
  gap: 15px;
}

.socials {
  font-size: 1.5rem;
}

.socials > div {
  display: flex;
  align-items: center;
}

.socials > div:hover {
  color: var(--accent);
  cursor: pointer;
}

.wave {
  position: absolute;
  top: -93px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(203% + 1.3px);
  height: 93px;
}

.wave .shapeFill {
  fill: var(--footer);
}

/* RESPONSIVE STYLES */
@media (max-width: 720px) {
  .wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  .socials {
    margin-bottom: 0.7rem;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    width: 100%;
    margin: 0 1rem;
  }
}