:root {
  --bg: #1a1b33;
  --bg-dark: #15162a;
  --bg-darker: #0c0d1c;
  --bg-darkest: #050410;
  --nav-bg: #1a1b33b6;

  --accent: #f64966;
  --accent-dark: #dc314d;

  --main: #183df4;
  --main-alt: #f64966;

  --font: #d7daed;
  --font-light-grey: #bec8e8;
  --font-grey: #95a6da;
  --font-dark: #1a1b33;
  --font-dark-grey: #722431;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Vollkorn', sans-serif;
  overflow: inherit;
  background: var(--bg);
  color: var(--font);
}

* {
  box-sizing: border-box;
}

::placeholder {
  font-weight: 600;
  color: var(--accent);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--bg-darkest);
  -webkit-text-fill-color: var(--bg-dark);
}

.active {
  color: var(--accent);
}
