:root {
  --bg: #1a1b33;
  --bg-dark: #15162a;
  --bg-darker: #0c0d1c;
  --bg-darkest: #050410;
  --nav-bg: #1a1b33b6;

  --accent: #f64966;
  --accent-dark: #dc314d;

  --main: #183df4;
  --main-alt: #f64966;

  --font: #d7daed;
  --font-light-grey: #bec8e8;
  --font-grey: #95a6da;
  --font-dark-grey: #5e6ba5;
  --font-dark: #1a1b33;
  --font-dark-accent: #722431;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Vollkorn', sans-serif;
  overflow: inherit;
  background: var(--bg);
  background: -moz-linear-gradient(180deg, var(--bg) 0%, var(--main) 100%);
  background: -webkit-linear-gradient(180deg, var(--bg) 0%, var(--main) 100%);
  background: linear-gradient(180deg, var(--bg) 0%, var(--main) 250%);
  color: var(--font);
}

* {
  box-sizing: border-box;
}

::placeholder {
  font-weight: 600;
  color: var(--accent);
}

.active {
  color: var(--accent);
}
