html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: #ffd092;
  background: linear-gradient(180deg, #18103d 0%, #090513 100%);
}

* {
  box-sizing: border-box;
}
