.wrapper {
  width: 100%;
}

.open.wrapper {
  margin-bottom: 1rem;
}

.title {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem 1.5rem;
  /* border-bottom: 2px solid var(--accent); */
  font-weight: 600;
  font-size: 1.3rem;
}

.title:hover {
  border-radius: 0.3rem;
  background: var(--darker);
  color: var(--accent);
  cursor: pointer;  
}

.open .title {
  border-radius: 0.3rem;
  background: var(--darker);
  color: var(--accent);
}

.subtitle {
  color: var(--font-secondary);
}

.title:hover .subtitle,
.open .subtitle {
  color: var(--accent-darker);
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  justify-content: center;
  max-height: 0;
  padding: 1rem 1.5rem;
  padding-bottom: 0;
  opacity: 0;
  /* border-left: 3px solid var(--accent);
  border-bottom: 3px solid var(--accent);
  border-right: 3px solid  var(--accent);
  border-radius: 0 0 0.3rem 0.3rem; */
  font-size: 1.2rem;
  color: var(--font-light-grey);
  overflow-y: hidden;
  transition: max-height 200ms ease-out, opacity 150ms ease-out;
}

.open .content {
  max-height: 50rem;
  padding: 1rem 1.5rem;
  opacity: 100;
  transition: max-height 200ms ease-out, opacity 150ms ease-out;
}

.open .content.xl {
  max-height: 180rem;
}

.arrow {
  margin-right: 1rem;
  transition: transform 200ms ease-in-out;
}

.open .arrow {
  transform: rotate(45deg);
  transition: transform 200ms ease-in-out;
}

@media (max-width: 415px) {
  .content {
    gap: 1.5rem 1rem;
  }
}

@media (min-width: 1280px) {
  .open .content.xl {
    max-height: 70rem;
  }
}