.element {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 76rem;
  min-height: inherit;
  margin-top: 3rem;
}

.title {
  font-weight: 700;
  font-size: 3rem;
}

.heading {
  font-weight: 700;
  font-size: 5rem;
}

.body {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
}

.link {
  text-decoration: none;
}

/* SECTION STYLES */

.landingContainer {
  height: 100vh;
}

.landing,
.about {
  display: table;
  table-layout: fixed;
  width: 76rem;
  min-height: inherit;
}

.landing > div,
.about > div {
  display: table-cell;
  vertical-align: middle;
}

.countdownWrapper {
  margin-bottom: 5rem;
}

.aboutContent {
  text-align: center;
}

.organizers {
  display: flex;
  justify-content: space-around;
}

/* BUTTON STYLES */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24rem;
  margin-bottom: 0.5rem;
  padding: 0.7rem 1.2rem;
  font-weight: 600;
  font-size: 1.7rem;
  border: none;
  border-radius: 0.3rem;
  background: #f2f3f4;
}

.button:hover {
  background: #dedede;
  cursor: pointer;
}

/* INPUT STYLES */

.applyWrapper {
  display: flex;
  margin-top: 2rem;
  font-size: 1.7rem;
}

.applyWrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding: 0.7rem 1.2rem;
  border-radius: 0 0.3rem 0.3rem 0;
  background: #f2f3f4;
  font-weight: 600;
}

.applyWrapper > div:hover {
  border-radius: 0.3rem;
  background: #dedede;
  cursor: pointer;
}

.input {
  width: 30rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  border-radius: 0.3rem 0 0 0.3rem;
}

.input:focus {
  outline: none;
  border: 2px solid red;
  border-radius: 0.3rem 0 0 0.3rem;
}

/* RESPONSIVE STYLES */
@media (max-width: 540px) {
  .button,
  .input {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .heading {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .landing {
    align-items: center;
  }
  .button {
    align-self: center;
  }
  .applyWrapper {
    flex-direction: column;
    align-items: center;
  }
  .applyWrapper > div,
  .input {
    border-radius: 0.3rem;
  }
  .applyWrapper > div {
    margin-top: 0.5rem;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }
  .carouselWrapper {
    display: none; 
  }
  .landing,
  .about,
  .landing > div,
  .about > div {
    display: flex;
    flex-direction: column;
  }
  .landing,
  .about {
    width: 100%;
  }
}