.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 0 1rem;
  background-image: url(../public/assets/stars-60.png);
  background-size: 1520px 855px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 68rem;
  min-height: inherit;
  margin-top: 3rem;
}

.link {
  font-weight: 600;
  color: var(--accent);
  cursor: default;
}

.link:hover {
  color: var(--accent-dark);
  cursor: pointer;
}

/* BUTTON STYLES */
.buttonWrapper {
  display: flex;
  gap: 10px;
}

.primarybutton {
  width: 15rem;
  background: var(--accent);
}
.primarybutton:hover {
  background: var(--accent-dark);
}

.secondarybutton {
  width: 15rem;
  color: var(--accent);
  background: var(--dark);
}
.secondarybutton:hover {
  background: var(--dark-light);
}

/* RESPONSIVE STYLES */
@media (max-width: 540px) {
  .buttonWrapper {
    width: 100%;
    flex-direction: column;
  }
  .primarybutton,
  .secondarybutton{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .primarybutton,
  .secondarybutton {
    align-self: center;
  }
}