.container {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 4.5rem;
  padding: 1.5rem 0;
  background: var(--nav-bg);
  -webkit-backdrop-filter: saturate(120%) blur(20px);
  -moz-backdrop-filter: saturate(120%) blur(20px);
  backdrop-filter: saturate(120%) blur(20px);
  overflow-y: hidden;
}

.open.container {
  max-height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.wrapper > div {
  display: flex;
  align-items: center;
  gap: 40px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background: var(--accent);
  font-weight: 700;
  color: var(--font-dark);
}

.button:hover {
  background: var(--accent-dark);
  cursor: pointer;
}

.link {
  cursor: default;
}

.link:hover {
  color: var(--accent);
  cursor: pointer;
}

.closeMenu,
.openMenu {
  display: none;
  font-size: 1.7rem;
  cursor: pointer;
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .closeMenu {
    display: flex;
  }
  .open .closeMenu,
  .openMenu {
    display: none;
  }
  .open .openMenu {
    display: flex;
  }
  .navHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    width: 100%;
    margin: 0 1rem;
  }
}