.container {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 0;
  background: #f2f3f4;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.wrapper > div {
  display: flex;
  align-items: center;
  gap: 40px;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 0.3rem;
  background: #dedede;
}

.button:hover {
  background: #c2c2c2;
  cursor: pointer;
}

.link:hover {
  color: red;
  cursor: pointer;
}