.container {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 4.5rem;
  padding: 1.5rem 0;
  -webkit-backdrop-filter: saturate(120%) blur(15px);
  -moz-backdrop-filter: saturate(120%) blur(15px);
  backdrop-filter: saturate(120%) blur(15px);
  overflow-y: hidden;
}

.open.container {
  max-height: 100vh;
  background: var(--landing);
}

.wrapper {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 68rem;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: lowercase;
}

.wrapper > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tabs {
  margin-left: 1.5rem;
  margin-right: auto;
}

.primarybutton {
  background: var(--accent);
}
.primarybutton:hover {
  background: var(--accent-dark);
}

.secondarybutton {
  color: var(--accent);
  background: var(--dark);
}
.secondarybutton:hover {
  background: var(--darkest);
}

.link {
  cursor: default;
}

.link:hover {
  color: var(--accent);
  cursor: pointer;
}

.closeMenu,
.openMenu {
  display: none;
  font-size: 1.7rem;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    height: 100vh;
  }
  .closeMenu {
    display: flex;
  }
  .open .closeMenu,
  .openMenu {
    display: none;
  }
  .open .openMenu {
    display: flex;
  }
  .navHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10rem 0;
    justify-content: space-around;
    height: 90vh;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    width: 100%;
    margin: 0 1rem;
  }
}