.wrapper {
  width: 100%;
}

.question {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem 1.5rem;
  /* border-bottom: 2px solid var(--accent); */
  font-weight: 600;
  font-size: 1.3rem;
}

.question:hover,
.open .question {
  border-radius: 0.3rem;
  background: var(--dark);
  color: var(--accent);
  cursor: pointer;  
}

.answer {
  max-height: 0;
  padding: 1rem 1.5rem;
  padding-bottom: 0;
  opacity: 0;
  font-size: 1.2rem;
  color: var(--font-light-grey);
  overflow-y: hidden;
  transition: max-height 200ms ease-out, opacity 150ms ease-out;
}

.open .answer {
  max-height: 15rem;
  padding: 1rem 1.5rem;
  opacity: 100;
  transition: max-height 200ms ease-out, opacity 150ms ease-out;
}

.arrow {
  margin-right: 1rem;
  transition: transform 200ms ease-in-out;
}

.open .arrow {
  transform: rotate(45deg);
  transition: transform 200ms ease-in-out;
}
