.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 68rem;
  min-height: inherit;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 0 1rem;
}

.title {
  width: 68rem;
  /* text-align: left; */
  font-weight: 700;
}

.body {
  width: 68rem;
  margin-bottom: 0;
  /* text-align: left; */
}

.buttonWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 2rem;
}

.primarybutton,
.secondarybutton {
  width: 18rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  background: var(--accent);
  color: var(--darkest);
  text-transform: none;
}

.secondarybutton {
  color: var(--accent);
  background: var(--dark);
}

.primarybutton:hover {
  background: var(--accent-dark);
  cursor: pointer;
}

.secondarybutton:hover {
  background: var(--dark-light);
  cursor: pointer;
}

/* RESPONSIVE STYLES */
@media (max-width: 540px) {
  .title,
  .body,
  .primarybutton,
  .secondarybutton {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .primarybutton,
  .secondarybutton {
    font-size: 1.1rem;
  }
  .buttonWrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0;
  }
  .buttonWrapper > .primarybutton:nth-of-type(2) {
    margin-top: 0;
  }
}

@media (max-width: 1280px) {
  .wrapper,
  .title,
  .body {
    width: 100%;
  }
}