.landingWave {
  z-index: 10;
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.landingWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 71px;
}

.landingWave .shapeFill {
  fill: var(--landing);
}

.hardwareWave {
  position: absolute;
  top: -82px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.hardwareWave2 {
  z-index: 10;
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.hardwareWave svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 83px;
}

.hardwareWave2 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 61px;
}

.hardwareWave .shapeFill,
.hardwareWave2 .shapeFill {
  fill: var(--hardware);
}

.sponsorsWave {
  position: absolute;
  top: -85px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.sponsorsWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.sponsorsWave2 {
  position: absolute;
  bottom: -92px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.sponsorsWave2 svg {
  position: relative;
  display: block;
  width: calc(181% + 1.3px);
  height: 93px;
}

.sponsorsWave .shapeFill,
.sponsorsWave2 .shapeFill {
  fill: var(--sponsors);
}

.teamWave {
  position: absolute;
  top: -85px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.teamWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.teamWave .shapeFill {
  fill: var(--team);
}

.footerWave {
  position: absolute;
  top: -92px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.footerWave svg {
  position: relative;
  display: block;
  width: calc(203% + 1.3px);
  height: 93px;
}

.footerWave .shapeFill {
  fill: var(--footer);
}
